@model ServerInfoViewModel
<style>
    .pavlovServerInfoStyle{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        }
</style>
<div class="card m-1  pavlovServerInfoStyle">
    <div class="card-header">
        <b>@Model.ServerInfo.ServerName</b>
        @Html.Raw(Model.AdditionalHtml)
    </div>
    <div class="card-body">
        <img src="@Model.ServerInfo.MapPictureLink" height="150px" width="150px"/>
        <li>Round state: @Model.ServerInfo.RoundState</li>
        <li>Game mode: @Model.ServerInfo.GameMode</li>
        <li>Player count: @Model.ServerInfo.PlayerCount</li>
        <li>Map id: @Model.ServerInfo.MapLabel</li>
        <li>Teams: @Model.ServerInfo.Teams</li>
        <li>Team score 0: @Model.ServerInfo.Team0Score</li>
        <li>Team score 1: @Model.ServerInfo.Team1Score</li>
    </div>
</div>