
@using LiteDB.Identity.Models
@using LiteDB
@using Microsoft.AspNetCore.Identity
@using PavlovRconWebserver.Extensions
@model SteamIdentity

@inject UserManager<LiteDbUser> UserManager
@{
    ViewBag.Title = "Add/Update SteamIdentity";
    Layout = "_Layout";
    var users = new List<LiteDbUser>();
    @if (ViewBag.IsOwnSteamIdentity == null || !ViewBag.IsOwnSteamIdentity)
    {
        users = Model.LiteDbUsers;
        users = users.Prepend(new LiteDbUser()
        {
            NormalizedUserName = "nothingSet",
            Id = new ObjectId()
        }).ToList();
    }
    var user = await UserManager.GetUserAsync(User);
    var isAdmin = false;
    var isMod = false;
    if (user != null)
    {
        isAdmin = await UserManager.IsInRoleAsync(user,"Admin");
        isMod = await UserManager.IsInRoleAsync(user,"Mod");
    
    }
    // IsOwnSteamIdentity
    
}

<h2>@ViewBag.Title</h2>

<form asp-controller="Team" asp-action="SaveSteamIdentity" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group col-md-12">
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control" value="@Model.Id"/>
        <span asp-validation-for="Id" class="text-danger"></span>  
    </div>
    <div class="form-group col-md-12">
        
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" value="@Model.Name"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group col-md-12">
        <label asp-for="Costume"></label>
            @if (isAdmin||isMod)
            {
                @Html.DropDownListFor(m => m.Costume, new SelectList(Statics.Models, Model.Costume), new {@class = "form-control form-control-sm"})
            }
            else
            {
                @Html.DropDownListFor(m => m.Costume, new SelectList(Statics.Models.Where(x=>x!="clown"), Model.Costume), new {@class = "form-control form-control-sm"})
            }
    </div>
    
    @if (ViewBag.IsOwnSteamIdentity == null || !ViewBag.IsOwnSteamIdentity)
    {
        <div class="form-group col-md-12">
            <label asp-for="LiteDbUserId"></label>
            @Html.DropDownListFor(m => m.LiteDbUserId, new SelectList(users, "Id", "NormalizedUserName", Model.LiteDbUser?.Id), new {@class = "form-control form-control-sm"})
        </div>
    }
    else
    {
        <input asp-for="LiteDbUserId" type="hidden" value="@Model.LiteDbUser.Id.ToString()"/>
    }
    
    <div class="saveButton col-md-1">
        <button type="submit" class="btn btn-primary btn-default col-md-12">Save</button>
    </div>
    

</form>