@model TeamSelectedSteamIdentitiesViewModel

@{
    ViewBag.Title = "Add StaemIdentities to Teams";
    Layout = "_Layout";
}
<style>
    .bigFont{
    font-size: 30px;
    }
</style>

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-sm-6" id="Save">
        <div class="card m-1  mapcard">
            <div class="card-header">
                Select the members of your Team <a class="btn btn-sm btn-primary" asp-area="" asp-controller="Team" asp-action="EditSteamIdentity"><span class="fas fa-plus"></span> Add SteamIdentity</a>
            </div>
            <div class="card-body" id="SavecardBody">
                <div class="col-sm-12">
                    <table class="table table-responsive table-bordered">
                        <thead>
                        <tr>
                            <th class="col-3">Steam id:</th>
                            <th class="col-3">Steam name:</th>
                            <th class="col-3">PRW Name</th>
                            <th class="col-3">Add</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var identity in Model.AllSteamIdentities)
                        {
                            var selectedMap = Model.SelectedSteamIdentities.FirstOrDefault(x => x.SteamIdentity.Id == identity.Id);
                            if (selectedMap != null)
                            {
                                continue; // This map is selected
                            }
                            <tr data-steamId="@identity.Id">
                                <td class="col-5">
                                    <a class="btn btn-sm btn-primary" href="@Url.Action("EditSteamIdentity", "Team", new {steamIdentityId = identity.Id})">
                                        <span class="fas fa-edit"></span>
                                    </a>
                                    @identity.Id
                                </td>
                                <td class="col-3">@identity.Name</td>
                                <td class="col-3">@identity.LiteDbUser?.NormalizedUserName</td>
                                <td class="col-1">
                                    <a class="btn btn-sm btn-primary" onclick="AddSteamIdentitiy(teamId,this)">
                                        <span class="fas fa-plus"></span>
                                    </a>
                                </td>
                            </tr>

                            //Do print
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6" id="Delete">
        <div class="card m-1 ">
            <div class="card-header">
                Here are your members of the Team
            </div>
            <div class="card-body" id="DeletecardBody">
                <div class="col-sm-12">
                    <table class="table table-responsive table-bordered">

                        <thead>
                        <tr>
                            <th class="col-2">Steam id:</th>
                            <th class="col-2">Steam name:</th>
                            <th class="col-2">PRW Name</th>
                            <th class="col-2">Role in Team</th>
                            <th class="col-2">Edit</th>

                        </tr>
                        </thead>
                        <tbody>



                        @foreach (var teamSelectedSteamIdentity in Model.SelectedSteamIdentities)
                        {
                            //print
                            <tr>
                                <td class="col-2">@teamSelectedSteamIdentity.SteamIdentity?.Id</td>
                                <td class="col-2">@teamSelectedSteamIdentity.SteamIdentity?.Name</td>
                                <td class="col-2">@teamSelectedSteamIdentity.SteamIdentity?.LiteDbUser?.NormalizedUserName</td>
                                <td class="col-2">@teamSelectedSteamIdentity.RoleOverwrite</td>
                                <td class="col-3">
                                    @if (teamSelectedSteamIdentity.SteamIdentity?.LiteDbUser != null)
                                    {
                                        if (string.IsNullOrEmpty(teamSelectedSteamIdentity.RoleOverwrite))
                                        {
                                            <a class="btn btn-sm btn-primary" href="@Url.Action("EditTeamSelectedSteamIdentity", "Team", new {teamId = teamSelectedSteamIdentity.Team.Id, steamIdentityId = teamSelectedSteamIdentity.SteamIdentity.Id})">
                                                <span class="fas fa-edit"></span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-sm btn-primary" href="@Url.Action("EditTeamSelectedSteamIdentity", "Team", new {teamId = teamSelectedSteamIdentity.Team.Id, steamIdentityId = teamSelectedSteamIdentity.SteamIdentity.Id, overWriteRole = teamSelectedSteamIdentity.RoleOverwrite})">
                                                <span class="fas fa-edit"></span>
                                            </a>
                                        }
                                    }
                                    <a class="btn btn-sm btn-danger" href="@Url.Action("DeleteTeamSelectedSteamIdentity", "Team", new {teamId = teamSelectedSteamIdentity.Team.Id, steamIdentityId = teamSelectedSteamIdentity.SteamIdentity.Id})" onclick="return confirm('Are you sure you want to Delete?')">
                                        <span class="fas fa-trash-alt"></span>
                                    </a>

                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
    let teamId = @Model.TeamId
    </script>
}

<script src="~/js/TeamSelectedSteamIdentities.js" asp-append-version="true"></script>