@model System.Collections.Generic.IEnumerable<PavlovRconWebserver.Models.SshServer>

@{
    ViewBag.Title = "Rcon Servers";
    Layout = "_Layout";
}


<h2>Rcon servers:</h2>
<a asp-area="" asp-controller="SshServer" asp-action="EditServer">&#10133; Add Server</a>
<table class="table table-striped table-responsive">
    <thead>
    <th>
        Id    
    </th>        
    <th>
         Edit      
    </th>
    <th>
        Name    
    </th>
    <th>
        Adress    
    </th>
    <th>
        Pavlov Server
    </th>
    </thead>
    <tbody>
    @foreach (var sshServer in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("DeleteServer", new {sshServer.Id})"><span>&#10060;</span></a>
                @sshServer.Id
            </td>
            <td>
                <a href="@Url.Action("EditServer", "SshServer", new {serverId = sshServer.Id})"><span>Server &#8505;</span></a>
            </td>
            <td>
                @sshServer.Name
            </td>
            <td>
                @sshServer.Adress
            </td>
            
            <td>
                <ul>
                    <li><a href="@Url.Action("EditServer", "PavlovServer", new {serverId = 0,sshServerId = sshServer.Id})"><span>&#10133;</span></a></li>
                    @if (sshServer.PavlovServers != null)
                    {
                        foreach (var pavlovServer in sshServer.PavlovServers)
                        {
                            <li>
                                <a href="@Url.Action("DeleteServer", "PavlovServer", new {pavlovServer.Id})"><span>&#10060;</span></a> @pavlovServer.Name 
                                <a href="@Url.Action("EditServer", "PavlovServer", new {serverId = pavlovServer.Id, sshServerId = sshServer.Id})"><span>Edit &#8505;</span></a> or 
                                <a href="@Url.Action("EditServerSelectedMaps", "SshServer", new {serverId = pavlovServer.Id})"><span>Maps &#128506;</span></a>
                            </li>
                        }
                    }
                </ul>
            </td>
        </tr> 
    }
    </tbody>
</table>