@using Newtonsoft.Json
@model RconViewModel

@{
  
    var server = ViewBag.Servers;
    ViewData["Title"] = "Rcon Page";
}

@section Scripts{
    <script>
    let PlayerCommands = jQuery.parseJSON('@Html.Raw(@JsonConvert.SerializeObject(@Model.PlayerCommands))');
    let TwoValueCommands = jQuery.parseJSON('@Html.Raw(@JsonConvert.SerializeObject(@Model.TwoValueCommands))');
    </script>
}
@Html.LabelFor(x=>x.RconServer)
@Html.ListBoxFor(m => m.RconServer, new MultiSelectList(server,"Id","Name",Model.RconServer), new { @class = "form-control form-control-sm" })

<br>
<div class="panel panel-default">
    <div class="panel-heading">
        Signle paramter actions
    </div>
    <div class="panel-body">
        <div class="col-12 row">
            <div class="col-sm-4">
                <button type="button" class="btn btn-success" onclick="sendSingleCommand('ServerInfo')">ServerInfo</button>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-success" onclick="sendSingleCommand('ResetSND')">ResetSND</button>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-success" onclick="sendSingleCommand('RotateMap')">RotateMap</button>
            </div>
        </div>
        @*// Buttons*@
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Player Actions (This part of the menu only works if you only select one server) 
                <button type="button" class="btn btn-success btn-group" onclick="UpdatePlayers()">Update Players</button>
    </div>
    <div class="panel-body" id="PlayerAction">
        <div class="row">
            <div class="col-sm-4">
                @Html.LabelFor(x=>x.Players)
                @Html.ListBoxFor(m => m.Players, new MultiSelectList(Model.Players,"Name","SteamId",Model.PlayersSelected), new { @class = "form-control form-control-sm" })
            </div>
            <div class="col-sm-4">
                @Html.LabelFor(x=>x.PlayerCommands)
                @Html.DropDownListFor(m => m.PlayerCommands, new SelectList(Model.PlayerCommands,"Name","Name",Model.PlayerCommands), new { @class = "form-control form-control-sm" })
            </div>
            <div class="col-sm-2" id="PlayerValueParent">
                <label asp-for="PlayerValue"></label>
                @* Gets autopopulated *@
            </div>
            <div class="col-sm-2 buttonParent">
                <button id="Do" name="Do" type="button" class="btn btn-success btn-group center" onclick="PlayerAction()">Do</button>
            </div>
        </div>
    </div>
</div>
@{
    //Give Team Cach // switch Map
}
<div class="panel panel-default">
    <div class="panel-heading">
        Actions with two values
    </div>
    <div class="panel-body" id="TwoValueInputs">
        <div class="row">
            <div class="col-sm-4">
                @Html.LabelFor(x=>x.TwoValueCommands)
                @Html.DropDownListFor(m => m.TwoValueCommands, new SelectList(Model.TwoValueCommands,"Name","Name",Model.TwoValueCommands), new { @class = "form-control form-control-sm" })
            </div>
            <div class="col-sm-4" id="PlayerValueParent">
                <label asp-for="PlayerValue"></label>
                @* Gets autopopulated *@
            </div>
            <div class="col-sm-2" id="PlayerValueTwoParent">
                <label asp-for="PlayerValueTwo"></label>
                @* Gets autopopulated *@
            </div>
            <div class="col-sm-2 buttonParent">
                <button id="Do" name="Do" type="button" class="btn btn-success btn-group center" onclick="TwoValuesSendCommand()">Do</button>
            </div>
        </div>
    </div>
</div>


<div id="modal-placeholder"></div>
<style>
    .buttonParent{
        margin-top: 40px;
    }
    .center {
      margin: 0;
      position: absolute;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
</style>


<script src="~/js/rcon.js" asp-append-version="true"></script>