@model PlayerModelExtended

<tr>
    <td>
        @Model.Username
    </td>
    <td>
        @Model.getKills()
    </td>
    <td>
        @Model.getDeaths()
    </td>
    <td>
        @Model.getAssists()
    </td>
    <td>
        @Model.Cash
    </td>
    <td>
        @Model.UniqueId
    </td>
</tr>