@model ServerInfoViewModel

<!-- Modal -->
<div class="modal fade" id="add-contact" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addContactLabel">Serverinfos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @Model.Adress
                    </div>
                    <div class="panel-body">
                        <li>Name: @Model.ServerInfo.ServerName</li>
                        <li>Round state: @Model.ServerInfo.RoundState</li>
                        <li>Game mode: @Model.ServerInfo.GameMode</li>
                        <li>Player count: @Model.ServerInfo.PlayerCount</li>
                        <li>Map id: @Model.ServerInfo.MapLabel</li>
                    </div>
                </div>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>