@using Microsoft.AspNetCore.Identity
@using LiteDB.Identity.Models
@inject SignInManager<LiteDbUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav flex-column">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)">
        <a class="btn btn-primary m-1" asp-action="Index">Profile</a>
    </li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)">
        <a class="btn btn-primary m-1" asp-action="ChangePassword">Password</a>
    </li>
    <li class="@ManageNavPages.SteamIdentityNavClass(ViewContext)">
        <a class="btn btn-primary m-1"  asp-controller="Team" asp-action="EditOwnSteamIdentity">EditSteamIdentity</a>
    </li> 
    @if (hasExternalLogins)
    {
        <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)">
            <a class="btn btn-primary m-1" asp-action="ExternalLogins">External logins</a>
        </li>
    }
    @* <li class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)"> *@
    @*     <a asp-action="TwoFactorAuthentication">Two-factor authentication</a> *@
    @* </li> *@
</ul>

