
@using PavlovRconWebserver.Extensions
@model Match

@{
    ViewBag.Title = "Match";
    Layout = "_Layout";

    var PavlovServers = Model.AllPavlovServers.Select(x=>new
    {
        Id = x.Id,
        Name = x.Name
    });
}

<script src="~/js/MatchMaking.js" asp-append-version="true"></script>

<h2>@ViewBag.Title</h2>

<form asp-controller="MatchMaking" asp-action="CreateMatch" method="post">
    
<div asp-validation-summary="All" class="text-danger"></div>
    <div class="col-md-11">
        <div class="panel panel-default">
            <div class="panel-heading">Main match settings</div>
            <div class="panel-body">
                <input asp-for="Id" class="form-control" value="@Model.Id" type="hidden"/>
                <span asp-validation-for="Id" class="text-danger"></span>
                <div class="form-group col-md-5">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" value="@Model.Name"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-7">
                    <label asp-for="PavlovServer"></label>
                    @Html.DropDownListFor(m => m.PavlovServer, new SelectList(PavlovServers,"Id","Name",Model.PavlovServer), new { @class = "form-control form-control-sm" })
                    <span asp-validation-for="PavlovServer" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="MapId"></label> <button type="button" class="btn btn-sm btn-primary valueFieldButtons" onclick="RconChooseMapPartialView()">Open selector</button>
                    <input asp-for="MapId" class="form-control" value="@Model.MapId"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="GameMode"></label>
                   @Html.DropDownListFor(m => m.GameMode, new SelectList(GameModes.ModesString,Model.GameMode), new { @class = "form-control form-control-sm" })
                   <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-11">
        <div class="panel panel-default">
            <div class="panel-heading">Player/Teams Select</div>
            <div class="panel-body" id="GameModeSpecificPanel">
            @* Gets auto populatet *@
            </div>
        </div>
    </div>

</form>