@model RconServer

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Edit rcon server</h2>

<form asp-controller="RconServer" asp-action="UpdateServer"  method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Id" class="form-control" value="@Model.Id" type="hidden"/>
    <div class="form-group">
        <label asp-for="Adress"></label>
        <input asp-for="Adress" class="form-control" value="@Model.Adress"/>
        <span asp-validation-for="Adress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" value="@Model.Name"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TelnetPort"></label>
        <input asp-for="TelnetPort" class="form-control" value="@Model.TelnetPort"/>
        <span asp-validation-for="TelnetPort" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" placeholder="leave blank if you don't want to update it"  type="password" value="" autocomplete="off"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UseTelnet"></label><br>
        @Html.CheckBoxFor(m => m.UseTelnet)
        <span asp-validation-for="UseTelnet" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="UseSsh"></label><br>
        @Html.CheckBoxFor(m => m.UseSsh)
        <span asp-validation-for="UseSsh" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="SshUsername"></label>
        <input asp-for="SshUsername" class="form-control" value="@Model.SshUsername"/>
        <span asp-validation-for="SshUsername" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SshPassword"></label>
        <input asp-for="SshPassword" class="form-control"  placeholder="leave blank if you don't want to update it"  type="password" value="" autocomplete="off"/>
        <span asp-validation-for="SshPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SshPort"></label>
        <input asp-for="SshPort" class="form-control" value="@Model.SshPort"/>
        <span asp-validation-for="SshPort" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SshKeyFileName"></label>
        <input asp-for="SshKeyFileName" class="form-control" value="@Model.SshKeyFileName"/>
        <span asp-validation-for="SshKeyFileName" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="SshPassphrase"></label>
        <input asp-for="SshPassphrase" class="form-control"  placeholder="leave blank if you don't want to update it" value=""  type="password" autocomplete="off"/>
        <span asp-validation-for="SshPassphrase" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Save</button>
    </div>
</form>
