@model List<PavlovServerPlayerHistory>

<style>
    .pavlovTable{
        margin-left: auto;
        margin-right: auto;
    }
    
</style>
@{
    var tableHeaer = "<thead><tr><th>Date</th><th>Cash</th><th>Score</th><th>Username</th><th>serverId</th><th>TeamId</th><th>UniqueId</th><th>Kills</th><th>Deaths</th><th>Assists</th></tr></thead>";
}
<div class="stylePavlovServers">


    <table class="table pavlovTable table-bordered table-responsive col-ms-12">
        @Html.Raw(tableHeaer)
        @foreach (var viewModel in Model)
        {
            <tr>
                <td>
                    @viewModel.date
                </td>
                <td>
                    @viewModel.Cash
                </td>
                <td>
                    @viewModel.Score
                </td>
                <td>
                    @viewModel.Username
                </td>
                <td>
                    @viewModel.ServerId
                </td>
                <td>
                    @viewModel.TeamId
                </td>
                <td>
                    @viewModel.UniqueId
                </td>
                <td>
                    @viewModel.getKills()
                </td>
                <td>
                    @viewModel.getDeaths()
                </td>
                <td>
                    @viewModel.getAssists()
                </td>
            </tr>
        }


    </table>
</div>